<app-bread-crumb [items]="[
{link: '/entries', text: 'Lançamentos'},{text: pageTitle}
]">
</app-bread-crumb>

<app-page-header [page-title]="pageTitle" button-class="btn-secondary" button-link="/entries" button-text="Voltar">
</app-page-header>

<form autocomplete="off" [formGroup]="resourceForm" (submit)="submitForm()">
  <div class="card">
    <div class="card-header">
      Informações sobre o lançamento
    </div>
    <div class="card-body">

      <div class="form-row">
        <!-- type -->
        <div class="form-group col-md-2">
          <label for="type">Tipo</label>
          <select id="type" class="form-control" formControlName="type">
            <option *ngFor="let option of typeOptions" [ngValue]="option.value">{{option.text}}</option>
          </select>
          <div class="text-danger" *ngIf="resourceForm.get('type').invalid && resourceForm.get('type').dirty">
            <div *ngIf="resourceForm.get('type').errors.required">Dado Obrigatório</div>
          </div>
        </div>

        <!-- name -->
        <div class="form-group col-md-5">
          <label for="name">Lançamento</label>
          <input type="text" id="name" class="form-control" formControlName="name">
          <div class="text-danger" *ngIf="resourceForm.get('name').invalid && resourceForm.get('name').dirty">
            <div *ngIf="resourceForm.get('name').errors.required">Dado Obrigatório</div>
            <div *ngIf="resourceForm.get('name').errors.minlength">Minímo de 2 caracteres</div>
          </div>
        </div>

        <!-- amount -->
        <div class="form-group col-md-3">
          <label for="amount">Valor</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">R$</span>
            </div>
            <input [imask]="imaskConfig" type="text" id="amount" class="form-control text-right"
              formControlName="amount">
          </div>
          <div class="text-danger" *ngIf="resourceForm.get('amount').invalid && resourceForm.get('amount').dirty">
            <div *ngIf="resourceForm.get('amount').errors.required">Dado Obrigatório</div>
          </div>
        </div>

        <!-- date -->
        <div class="form-group col-md-2">
          <label for="date">Data</label>
          <p-calendar dataType="string" [locale]="ptBR" [showButtonBar]="true" dateFormat="dd/mm/yy" id="date"
            inputStyleClass="form-control" formControlName="date">
          </p-calendar>
          <div class="text-danger" *ngIf="resourceForm.get('date').invalid && resourceForm.get('date').dirty">
            <div *ngIf="resourceForm.get('date').errors.required">Dado Obrigatório</div>
          </div>
        </div>

      </div>

      <div class="form-row">

        <!-- Paid -->
        <div class="form-group col-md-6">
          <div class="d-flex flex-column">
            <label for="paid">Pago</label>
            <div class="btn-group">
              <label (click)="resourceForm.get('paid').setValue(true)" class="btn btn-outline-info"
                [class.active]="resourceForm.get('paid').value">Pago</label>
              <label (click)="resourceForm.get('paid').setValue(false)" class="btn btn-outline-info"
                [class.active]="!resourceForm.get('paid').value">Pendente</label>
            </div>
          </div>
          <div class="text-danger" *ngIf="resourceForm.get('paid').invalid && resourceForm.get('paid').dirty">
            <div *ngIf="resourceForm.get('paid').errors.required">Dado Obrigatório</div>
          </div>
        </div>

        <!-- categoryId -->
        <div class="form-group col-md-6">
          <label for="categoryId">Categoria</label>
          <select id="categoryId" class="form-control" formControlName="categoryId">
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
          </select>
          <div class="text-danger"
            *ngIf="resourceForm.get('categoryId').invalid && resourceForm.get('categoryId').dirty">
            <div *ngIf="resourceForm.get('categoryId').errors.required">Dado Obrigatório</div>
          </div>
        </div>

        <!-- description -->
        <div class="form-group col-md-12">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" formControlName="description">
        </div>

      </div>

      <div class="alert alert-danger" *ngIf="serverErrorMessages">
        <strong>Erro no Servidor:</strong>
        <ul>
          <li *ngFor="let error of serverErrorMessages">{{error}}</li>
        </ul>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-center">
      <button [disabled]="submittingForm || resourceForm.invalid" type="submit"
        class="btn px-5 btn-primary">Salvar</button>
    </div>

  </div>
</form>
